.list-item__body {
  display: block !important;
}

.list-item__body a {
  padding-bottom: 4px !important;
}

.ml-tags {
  display: block;
  padding-bottom: 8px;
}

.ml-tag {
  padding: 4px;
  margin-right: 5px;
  background-color: #E8F4FE;
  border-radius: 4px;
  color: #2291F8;
  font-size: 12px;
}

.blog-posts {
  display: block;
  margin-top: 20px;
}

.blog-posts a {
  color: #000A38;
}

.blog-post {
  display: inline-block;
  width: 49%;
  padding: 10px;
  background-color: white;
  border-radius: 16px;
  margin: 10px 1% 0px 0px;
  transition: all .2s ease-in-out;
}

.blog-post:hover {
  transform: scale(1.04);
}

.blog-post-title {
  margin-right: 5px;
  margin-bottom: 3px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  display: block;
  height: 100px;
}

.blog-post-category {
  margin-top: 4px;
  padding: 4px;
  background-color: #E8F4FE;
  border-radius: 4px;
  color: #2291F8;
  font-size: 12px;
}
